<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <img src="/assets/icon/logo.png" alt="Logo" id="logo">
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <h1>Getting started</h1>
    <p>Zilliqa Wallet is a free open-source community managed app designed for safe storage of your Zilliqa tokens.</p>
    <ion-button routerLink="/account-setup">Create wallet</ion-button>
    <span routerLink="/import-privkey">Already have a wallet? <b>Import</b></span>
  </div>
</ion-content>
